{% extends "exercises/extends/base.html" %}
{% load static %}

{% block 'title' %} Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'pages/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'exercises/css/exercise.css' %}">
{% endblock  %}

{% block 'content' %}
    

    <!-- Words -->
    {% for word in words %}
        <div id='word_{{word.id}}' class="row justify-content-center word__block {% if word.id != 1 %}hidden{% endif %}">
            <div class="col word-col">
                <div class="row justify-content-center words word-main-mask">
                    <div class="col align-self-center mx-1 word_word__col">
                        <p class="step_one__word_word">{{word.word}}</p>
                    </div>
                    <div class="col align-self-center mx-1 word_translate__col">
                        <p class="step_one__word_translate">{{word.translate}}</p>
                    </div>
                    <!-- <p class="text w-50 mx-auto text-center word-main">{{ word.word }}  {{ word.translate }}</p> -->
                </div>
                <div class='word-card mt-2'>
                    <div class="row content-row">
                        <div class="col content-col my-auto">
                            <div class='row cols-row-2'>
                                <div class="col col-xs-12 col-md-7 text-center">
                                    {% if word.api.image_url %}
                                        <img class="bd-placeholder-img word__image" src="{{ word.api.image_url }}" alt="Word Image">
                                    {% endif %}
                                </div>
                                <div class="col col-xs-12 col-md-5 text-center">
                                    {% if word.api.another_means %}
                                        <ul class="list__another_means">
                                            <p class="text word__title_mean">Другие значения:</p>
                                            {% for another_mean in word.api.another_means %}
                                                <li>
                                                    <p class="text word__mean">{{ another_mean|capfirst }}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p class="text word__title_mean">У слова только одно значение</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class='mt-2 text-center'>
                                {% if word.api.transcription %}
                                    <p class="text"> Transcription: {{ word.api.transcription }} </p>
                                {% endif %}
                            </div>
                            <div class='mt-2 text-center'>
                                {% if word.api.sound_url %}
                                    <audio class='word__audio' controls>
                                        <source src="{{ word.api.sound_url }}">
                                    </audio>
                                {% endif %}
                            </div>
                            {% if word.sentences %}
                                <ul class='mt-2 text-center'>
                                    {% for sentence in word.sentences %}
                                        <li>
                                            <p class="text">{{ sentence }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock  %}

{% block 'js' %}
    <script src="{% static 'exercises/js/step_1.js' %}"></script>
{% endblock  %}