{% extends "exercises/extends/base.html" %}
{% load static %}

{% block 'title' %} Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'pages/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'exercises/css/exercise.css' %}">
{% endblock  %}

{% block 'content' %}
    
    <!-- Words -->
    {% for word in words %}
        <div id='word_{{word.id}}' class="row justify-content-center word__block {% if word.id != 1 %}hidden{% endif %}">
            <div class="col word-col">
                <div class="row justify-content-center words word-main-mask">
                    <div class="col align-self-center mx-1 word_word__col">
                        <p class="step_one__word_word">{{word.word}}</p>
                    </div>
                    <div class="col align-self-center mx-1 word_translate__col">
                        <p class="step_one__word_translate">{{word.translate}}</p>
                    </div>
                </div>
                <div class='word-card mt-2'>
                    <div class="row content-row">
                        <div class="col content-col my-auto">
                            <div class='row cols-row-2'>
                                <div class="col col-xs-12 col-md-7 text-center">
                                    {% if word.api.image_url %}
                                        <img class="bd-placeholder-img word__image" src="{{ word.api.image_url }}" alt="Word Image">
                                    {% endif %}
                                </div>
                                <div class="col col-xs-12 col-md-5 text-center">
                                    <div class='mt-2 text-center'>
                                        {% if word.api.transcription %}
                                            <p class="text"> Transcription: {{ word.api.transcription }} </p>
                                        {% endif %}
                                    </div>
                                    <div class='mt-2 text-center'>
                                        {% if word.api.sound_url %}
                                            <audio class='word__audio' controls>
                                                <source src="{{ word.api.sound_url }}">
                                            </audio>
                                        {% endif %}
                                    </div>
                                    <div class="accordion" id="accordion_word_{{word.id}}">
                                        <div class="accordion-item">
                                            {% if word.api.another_means %}
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_means_{{word.id}}" aria-expanded="false" aria-controls="collapse_means_{{word.id}}">
                                                        Другие значения
                                                    </button>
                                                </h2>
                                                <div id="collapse_means_{{word.id}}" class="accordion-collapse collapse" data-bs-parent="#accordion_word_{{word.id}}">
                                                    <div class="accordion-body">
                                                        <ul class="list__another_means">
                                                            <p class="text word__title_mean"></p>
                                                            {% for another_mean in word.api.another_means %}
                                                                <li>
                                                                    <p class="text word__mean">{{ another_mean|capfirst }}</p>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_means_{{word.id}}" aria-expanded="false" aria-controls="collapse_means_{{word.id}}" disabled>
                                                        У слова только одно значение
                                                    </button>
                                                </h2>
                                            {% endif %}
                                        </div>
                                        <div class="accordion-item">
                                            {% if word.sentences %}
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_sentences_{{word.id}}" aria-expanded="false" aria-controls="collapse_sentences_{{word.id}}">
                                                        Примеры с предложениями
                                                    </button>
                                                </h2>
                                                <div id="collapse_sentences_{{word.id}}" class="accordion-collapse collapse" data-bs-parent="#accordion_word_{{word.id}}">
                                                    <div class="accordion-body">
                                                        <ul class="list__another_means">
                                                            <p class="text word__title_mean"></p>
                                                            <ul class='mt-2 text-center'>
                                                                {% for sentence in word.sentences %}
                                                                    <li>
                                                                        <p class="text word__sentence">{{ sentence }}</p>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" disabled>
                                                        Примеров с предложениями нет
                                                    </button>
                                                </h2>
                                            {% endif %}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock  %}

{% block 'js' %}
    <script src="{% static 'exercises/js/step_1.js' %}"></script>
{% endblock  %}