{% extends "exercises/base.html" %}
{% load static %}

{% block 'title' %} Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'exercises/css/exercise.css' %}">
{% endblock  %}

{% block 'content' %}
    <!-- Header -->
    <div class="row py-3 justify-content-center">
        <div class="col-12 title ramka-6 w-50">
            <h2 class='title'>Переводим</h2>
            {% csrf_token %}
        </div>
        <div class='row justify-content-center'>
            <div class='col text-center'>
                <button id='btn-send' type='submit' class='btn btn-warning hidden'>Закончить этап и отправить данные</button>
            </div>
        </div>
    </div>

    <!-- Words -->
    {% for word in words %}
        <div id='word_check_{{word.id}}' class="row row-cols-1 justify-content-center word {% if word.id != 1 %}hidden{% endif %}">
            <div class="col">
                <p class="text text-center word-main">{{ word.word }}</p>
            </div>
                {% for var in word.translate_vars %}
                <div class="col text-center pb-1">
                    <button type=button class='btn word-variant text-black {% if word.translate == var %} answer {% endif %}'>
                        {{ var }}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <!-- Alerts-->
    <div class='row justify-content-center pt-3'>
        <div class='col-3'>
            <div class='alerts pt-3'>
                <div id='alert-success' class="alert alert-success text-center hidden" role="alert">
                    Верно! Так держать!
                </div>
                <div id='alert-danger' class="alert alert-danger text-center hidden" role="alert">
                    Не верно! Подумай ещё
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class='row'>
        <div class='col'>
            <nav aria-label="words">
                <ul class="pagination justify-content-center">
                    <li id='prev_btn' class="page-item disabled">
                        <button type='button' class="page-link" href="#">Предыдущее</button>
                    </li>
                    {% for num in len %}
                        <li id='page_{{num}}' class="page-item">
                            <button type='button' class="page-link" href="#">{{num}}</button>
                        </li>
                    {% endfor %}
                    <li id='next_btn' class="page-item">
                        <button type='button' class="page-link" href="#">Следующее</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock  %}

{% block 'js' %}
    <script src="{% static 'exercises/js/step_2.js' %}"></script>
{% endblock  %}