{% extends "exercises/base.html" %}
{% load static %}

{% block 'title' %} Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'exercises/css/exercise.css' %}">
{% endblock  %}

{% block 'content' %}

    <!-- Words -->
    {% for word in words %}
        <div id='word_check_{{word.id}}' class="row row-cols-1 justify-content-center word-check word {% if word.id != 1 %}hidden{% endif %}">
            <div class="col">
                <p class="text text-center word-main">{{ word.word }}</p>
            </div>
                {% for var in word.translate_vars %}
                <div class="col text-center pb-1">
                    <button type=button class='btn word-variant text-black {% if word.translate == var %} answer {% endif %}'>
                        {{ var }}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <!-- Ex. Alerts -->
    <div class='row row-alerts justify-content-center pt-3'>
        <div class='col'>
            <div class='alerts'>
                <div id='alert-success' class="alert alert-success text-center hidden" role="alert">
                    Верно! Так держать!
                </div>
                <div id='alert-danger' class="alert alert-danger text-center hidden" role="alert">
                    Не верно! Подумай ещё
                </div>
            </div>
        </div>
    </div>
{% endblock  %}

{% block 'js' %}
    <script src="{% static 'exercises/js/step_2.js' %}"></script>
{% endblock  %}