<div class="row justify-content-center mx-0">
    <div class='body-calendar'>
        <div class="container calendar-page-container">
            <div class="row row-cols-2 calendar-wrap">
                <div class="col-12 col-xl-9 calendar-col">
                    {% include "users/account/activities/includes/calendar.html" %}
                </div>
                <div class="col notifications">
                    {% include "users/account/activities/includes/notifications.html" %}
                </div>
            </div>
        </div>
    </div>
</div>