{% extends 'main/base.html' %}

{% block title %}{% endblock  %}

{% block content %}
    <div class='container'>
        <div class='row pt-3'>
            <h2> <i class="bi bi-question-circle-fill text-success"></i> Зачем нужна регистрация? </h2>
            <p>{% lorem 1 p random %}</p>
            <hr>
        </div>
        <div class='row pt-3'>
            <h2> <i class="bi bi-question-circle-fill text-success"></i> Как записаться на занятие? </h2>
            <p>{% lorem 1 p random %}</p>
            <hr>
        </div>
        <div class='row pt-3'>
            <h2> <i class="bi bi-question-circle-fill text-success"></i> Как пользоваться календарём? </h2>
            <p>{% lorem 1 p random %}</p>
            <hr>
        </div>
        <div class='row pt-3'>
            <h2> <i class="bi bi-question-circle-fill text-success"></i> Пропустили занятие. Что делать? </h2>
            <p>{% lorem 1 p random %}</p>
            <hr>
        </div>
    </div>
{% endblock  %}