{% extends 'pages/extends/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Главная {% endblock  %}
{% block 'preconnect' %}

{% endblock 'preconnect' %}
{% block 'preload' %}
  <link rel="preload" as="image" href="https://cdn.verbal-voyager.ru/static/pages/images/layer-1.webp">
{% endblock 'preload' %}
{% block 'style' %}
  
	<script type="module" src="{% static "pages/js/parallax.js" %}"></script>
	<link rel="stylesheet" href="{% static 'pages/css/index.css' %}">
  
{% endblock  %}

{% block content %}
<!-- Preview  -->
<div class="main-header">
	<div class="layers planet">
		<div class="layer layer-base layer-animated"></div>
		<div class="layer layer-ground layer-animated"></div>
		<div class="layer layer-3 layer-animated"></div>
		<div class="layer layer-4 layer-animated"></div>
		<div class="layer layer-5 layer-animated"></div>
		<div class="layer preview-wrapper">
			<div class="preview-container">
				<div class="astronaut-container">
					<div class="astronaut-wrapper">
						<div class="layers astronauts">
							<div class="layer astronaut julia"></div>
							<div class="layer astronaut helmet julia-helmet"></div>
						</div>
					</div>
					<div class="astronaut-wrapper">
						<div class="layers astronauts">
							<div class="layer astronaut liza"></div>
							<div class="layer astronaut helmet liza-helmet"></div>
						</div>
					</div>
				</div>
				<div class="text-container">
					<div class="text-header">
						<p>Взлетай к новым вершинам языкового мастерства!</p>
					</div>
					<div class="text-content">
						<p class="text-text">Забудь о границах - исследуй бескрайние просторы языков с нашими интерактивными курсами. Мы создали увлекательные упражнения, которые помогут тебе овладеть языком, как космонавт осваивает тайны космоса. Готовься к встрече с новыми культурами и покоряй новые языковые территории!</p>
						<a class="btn-default" href="http://verbal-voyager.ru/contacts" role="button" aria-disabled="true">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='container'>
	<!-- Caruosel -->
	{% include 'pages/includes/carousel.html' %}
    <!-- Cards -->
    <div class="album py-2">
      <div class='container py-2'>
        <div class="row album-row first row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col-xl-4 col-md-12 px-2">
            <div class="card d-flex flex-column h-100 shadow-sm">
              <img src="{% static 'pages/images/card_english.webp' %}" class="d-block w-100" alt="Third Slide Image" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-start">
                <h5 class="card-title align-self-start">English course</h5>
                <p class="card-text">На этой планете культура, юмор и способ мышления формируют уникальную систему координат. Смотреть "Друзей" в оригинале — значит, понимать все тонкости юмора и сленга, недоступные в дубляже. Эта планета открывает двери к пониманию текстов любимых песен The Beatles и Queen, даря ощущение сопричастности к их творчеству. Погружение в английский — это не просто изучение правил, а возможность напрямую следить за новостями от Илона Маска и понимать его твиты без интерпретаций.</p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                {% comment %} <span>{{student_count.english}} ученик{{ student_count.english|pluralize:"а,ов" }}</span> {% endcomment %}
                <span>95 учеников</span>
                <a class="btn-default disabled" href="{% url 'contacts' %}" role="button" aria-disabled="true">Записаться</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-12 px-2">
            <div class="card d-flex flex-column h-100 shadow-sm">
              <img src="{% static 'pages/images/card_french.webp' %}" class="d-block w-100" alt="Third Slide Image" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-start">
                <h5 class="card-title align-self-start">French course</h5>
                <p class="card-text">Изысканная планета, где красота языка и элегантность культуры сплетаются воедино. Слушать песни Эдит Пиаф в оригинале — значит, прочувствовать всю глубину страсти и меланхолии, которые теряются в переводе. Эта планета открывает доступ к шедеврам французской кухни, от рецептов от шеф-поваров до понимания тонкостей винной культуры. Погружение во французский — это не просто грамматика, а возможность цитировать Коко Шанель в оригинале и понимать, в чем секрет французского шика.</p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                {% comment %} <span>{{student_count.french}} ученик{{ student_count.french|pluralize:"а,ов" }}</span> {% endcomment %}
                <span>66 учеников</span>
                <a class="btn-default disabled" href="{% url 'contacts' %}" role="button" aria-disabled="true">Записаться</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-12 px-2">
            <div class="card d-flex flex-column h-100 shadow-sm">
              <img src="{% static 'pages/images/card_spanish.webp' %}" class="d-block w-100" alt="Third Slide Image" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-start">
                <h5 class="card-title align-self-start">Spanish course</h5>
                <p class="card-text">Путешествие к солнцу и страсти, в мир, где музыка звучит в каждой фразе, а танцы живут в каждом жесте. Смотреть сериалы, как "Бумажный дом", в оригинале – значит, ощутить весь накал эмоций и понять игру слов, которые не передать дубляжом. Эта планета открывает двери к богатейшей латиноамериканской литературе, от Márquez до Allende, даря новые перспективы и культуры. Погружение в испанский – это не только заучивание глаголов, а возможность заказать auténtica паэлью в Валенсии и почувствовать себя своим среди местных.</p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                {% comment %} <span>{{student_count.spanish}} ученик{{ student_count.spanish|pluralize:"а,ов" }}</span> {% endcomment %}
                <span>30 учеников</span>
                <a class="btn-default disabled" href="{% url 'contacts' %}" role="button" aria-disabled="true">Записаться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row album-row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col-xl-4 col-md-12 px-2">
            <div class="card d-flex flex-column h-100 shadow-sm">
              <img src="{% static 'pages/images/card_russian.webp' %}" class="d-block w-100" alt="Third Slide Image" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-start">
                <h5 class="card-title align-self-start">Russian course</h5>
                <p class="card-text">Врата в загадочную и необъятную вселенную, где глубина души и сила духа отражаются в каждом слове и оттенке. Читая Достоевского в оригинале, постигаешь сложность человеческой натуры и трагизм бытия, скрытые за упрощенными переводами. Эта планета открывает доступ к бескрайним просторам русской культуры, от балета Чайковского до поэзии Пушкина, даря неповторимый эстетический опыт. Изучение русского — это не только освоение сложной грамматики, но и возможность понимать тонкий юмор Ильфа и Петрова, спорить о вечных вопросах за чашкой ароматного чая и чувствовать себя частью великой истории.</p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                {% comment %} <span>{{student_count.english}} ученик{{ student_count.english|pluralize:"а,ов" }}</span> {% endcomment %}
                <span>17 учеников</span>
                <a class="btn-default disabled" href="{% url 'contacts' %}" role="button" aria-disabled="true">Записаться</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-12 px-2">
            <div class="card d-flex flex-column h-100 shadow-sm">
              <img src="{% static 'pages/images/card_china.webp' %}" class="d-block w-100" alt="Third Slide Image" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-start">
                <h5 class="card-title align-self-start">China course</h5>
                <p class="card-text">Погружение в древнюю и мудрую цивилизацию, где каждый иероглиф — это целая история, а каждая фраза — отражение тысячелетней культуры. Смотреть фильмы Вонга Кар-Вая в оригинале — значит, прочувствовать глубину эмоций и понять нюансы визуального повествования, ускользающие от поверхностного восприятия. Эта планета открывает доступ к богатейшей китайской философии, от трактатов Конфуция до даосской мудрости, предлагая совершенно иной взгляд на мир. Изучение китайского — это не просто запоминание тонов, а возможность понимать искусство каллиграфии, наслаждаться изысканным вкусом настоящего китайского чая и вести беседы о смысле жизни с носителями древней мудрости.</p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                {% comment %} <span>{{student_count.french}} ученик{{ student_count.french|pluralize:"а,ов" }}</span> {% endcomment %}
                <span>12 учеников</span>
                <a class="btn-default disabled" href="{% url 'contacts' %}" role="button" aria-disabled="true">Записаться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Blog -->
    {% comment %} <div class="container py-4 text-start">
      <h2 class="featurette-heading pb-3 fw-normal lh-1 text-center">Блог</h2>
      <div class="row mb-2">
        <div class="col-md-6 align-self-right">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-100 position-relative blog-card">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis blog-theme">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-body-secondary blog-date">Nov 12</div>
              <p class="card-text mb-auto">{% lorem 1 b random %}</p>
              <a class="blog-link btn-default" href="#" role="button">Перейти к статье</a>
            </div>
            <div class="col-auto p-4 d-none d-lg-block m-auto">
              <img src="http://placehold.it/400x500/2c3e50/3498db&text=No Photo" class="bd-placeholder-img" width="200" height="250" alt="Third Slide Image">
            </div>
          </div>
        </div>
        <div class="col-md-6 align-self-right">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-100 position-relative blog-card">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis blog-theme">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-body-secondary blog-date">Nov 12</div>
              <p class="card-text mb-auto">{% lorem 1 b random %}</p>
              <a class="blog-link btn-default" href="#" role="button">Перейти к статье</a>
            </div>
            <div class="col-auto p-4 d-none d-lg-block m-auto">
              <img src="http://placehold.it/400x500/2c3e50/3498db&text=No Photo" class="blog-link bd-placeholder-img" width="200" height="250" alt="Third Slide Image">
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
        
    <!-- Reviews -->
    <div class="container reviews-container my-4">
      {% if reviews %}
        <h2 class="featurette-heading py-3 fw-normal lh-1 text-center text-white">Ваши отзывы</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 px-1">
          {% for review in reviews %}
            <div class="review-card-not-even px-2 mb-3 col-xl-4 col-md-12">
              <div class="d-flex flex-column">
                <div class="d-flex flex-column p-4 pb-0 h-100 align-items-center justify-content-center review-card">
                  <img class='avatar rounded-circle' src="{% static "users/images/default_avatar.webp" %}" width="140" height="140" alt="User photo" loading="lazy">
                    <h2 class="fw-normal review__title">{{ review.from_user__first_name }}</h2>
                    <small class="text-body-secondary">{{review.course__name}}</small>
                    <small class="text-body-secondary">{{review.created_at}}</small>
                  <hr class='review-hr w-100'>
                  <p class='review-text'>{{review.text }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <!-- State -->
    {% comment %} <div class="container py-2 text-center state-container">
      <h2 class="featurette-heading py-3 fw-normal lh-1">Штат</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
        <div class="col-xl-4 col-md-12 align-self-center">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="d-flex flex-column h-100">
                  <img src="http://placehold.it/300x450/2c3e50/3498db&text=Photo" class="d-block w-100 h-100" alt="Photo">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Elizapeth</h5>
                  <p class="card-text"><small class="text-body-secondary">Teacher</small></p>
                  <p class="card-text text-start">{% lorem 15 w random %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12 align-content-center">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="d-flex flex-column h-100">
                  <img src="http://placehold.it/300x450/2c3e50/3498db&text=Photo" class="d-block w-100 h-100" alt="Photo">
                </div>            
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ivan</h5>
                  <p class="card-text"><small class="text-body-secondary">Developer</small></p>
                  <p class="card-text text-start">{% lorem 15 w random %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
{% endblock content %}