{% extends "exercises/extends/base.html" %}
{% load static %}

{% block 'title' %} Exercise Dialog | Step {{step}}{% endblock  %}
{% block 'meta' %}
    <meta id="exercise_lang" data-exercise-lang="french">
    <meta id="names" data-name-1="{{name_1}}" data-name-2="{{name_2}}">
    <meta id="words-length" data-words-length="{{words|length}}">
    {% for word in words %}
        <meta id="word_{{word.idx}}" data-word="{{word.word}}" data-translation="{{word.translation}}">
    {% endfor %}
{% endblock 'meta' %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'pages/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'exercises/css/exercise.css' %}">
    <link rel="stylesheet" href="{% static 'exercises/css/dialogs/dialog.css' %}">

    <link rel="stylesheet" href="{% static 'exercises/css/dialogs/dropdown.css' %}">    
{% endblock  %}

{% block 'content' %}
<div class="container wrapper">
    {% csrf_token %}
    <div class='row scene-container'>
        <div class="btn-exit-wrap">
            <a href="{% url 'account' current_pane='activities' %}"><i class="bi bi-box-arrow-left"></i></a>
        </div>
        {% if scene %}
            <div class='col scene-text'>
                {{ scene }}
            </div>
        {% endif %}
    </div>
    {% for message in messages %}
        <div class='row message-container'>
            <div class='row message-row'>
                <div class='col avatar-container'>
                    <img class='avatar' width='50' height='50' src="{% static "users/images/default_avatar.webp" %}" alt="User photo">
                    <span class='person-name'>{{ message.from }}</span>
                </div>
                <div class='col text-container'>
                    <div class='message'>
                        {{ message.text }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


{% block 'js' %}
    <script type="module" src="{% static 'exercises/js/dialogs/dialog.js' %}"></script>
{% endblock  %}