{% extends "exercises/french/includes/words.html" %}
{% load static %}
{% load exercises_filters %}

{% block title %}Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'exercises/css/step_base.css' %}">
    <link rel="stylesheet" href="{% static 'exercises/css/step_3.css' %}">
{% endblock  %}

{% block 'words' %}
    <div class="row row-cols-2 justify-content-center words__block">
        <div class="col words">
            <div class='words_container pe-2' id="words">
                {% for word in words %}
                    <div class='row word' id='word_{{word.idx}}'>
                        <div class='col'>
                            <span lang={{ word.lang }}>{{ word.word }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col translates">
            <div class='translate_container' id="translates">
                {% for trans_word in words|get_shuffled_translates %}
                    <div class='row translate' id='translate_{{ trans_word.idx }}'>
                        <div class='col'>
                            <span lang="ru"><i class="bi bi-list"></i>{{ trans_word.translate }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row btn__answer">
        <button type="button" class="btn btn-default btn__check" id="liveToastBtn">Проверить</button>
    </div>

{% endblock  %}

{% block 'js' %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script type="module" src="{% static 'exercises/js/step_3.js' %}"></script>
{% endblock  %}