.word__block {
    .col {
        color: var(--indigo-50);
        width: max(25%, 140px);
        display: grid;
        border: 2px solid var(--color-violet-pastel-dark);
        border-radius: 1em;
        background-color: var(--purple-900);
        margin: .5rem !important;
    }

    .word__main {
        margin: auto;
        font-size: 1.5rem;
    }

    .menu {
        width: 100%;

        .menu-word-link {
            font-style: italic;
        }

        &.wrong {
            background-color: #6a3750 !important;
        }
          
        &.correct {
            background-color: #2a5f64 !important;
        }
    }
}