<div class="content calendar-container">
	
	<div class="col-12 calendar-title-wrap">
		{% if user_is_supervisor %}
		<span class="calendar-left-button fa fa-chevron-left" id="prev_teacher"> </span>
		{% endif %}
		<h4 class="calendar-title">Календарь</h4>
		{% if user_is_supervisor %}
		<span class="calendar-right-button fa fa-chevron-right" id="next_teacher"> </span>
		{% endif %}
	</div>
	<div class="calendar"> 
		<div class="year-header"> 
			<span class="left-button fa fa-chevron-left" id="prev"> </span> 
			<span class="year" id="label"></span> 
			<span class="right-button fa fa-chevron-right" id="next"> </span>
		</div>
		<table class="months-table w-100"> 
			<tbody>
				<tr class="months-row">
					<td class="month">Jan</td> 
					<td class="month">Feb</td> 
					<td class="month">Mar</td> 
					<td class="month">Apr</td> 
					<td class="month">May</td> 
					<td class="month">Jun</td> 
					<td class="month">Jul</td>
					<td class="month">Aug</td> 
					<td class="month">Sep</td> 
					<td class="month">Oct</td>
					<td class="month">Nov</td>
					<td class="month">Dec</td>
				</tr>
			</tbody>
		</table> 
		<table class="days-table w-100"> 
			<td class="day">Sun</td> 
			<td class="day">Mon</td> 
			<td class="day">Tue</td> 
			<td class="day">Wed</td> 
			<td class="day">Thu</td> 
			<td class="day">Fri</td> 
			<td class="day">Sat</td>
		</table>
		<div class="frame">
			<!-- Лоадер для календаря -->
			<div id="calendar-loader" class="loader-container" style="display: none;">
				<div class="calendar-loader" style="width: 347px; height: 424px;">
					<div class="loader-spinner"></div>
				</div>
			</div>
			<table class="dates-table w-100">
				
				<tbody class="tbody">
					{% comment %} {{ calendar|safe }} {% endcomment %}
				</tbody>
			</table>
			{% if user.is_staff %}
				<div id="panel-send-event-update" class="button-panel panel-task hidden">
					{% csrf_token %}
					<div id="btn-cancel-send-event-update" class="button-panel panel-lesson event-btn">
						<span id="btn-edit-event" class="event-button cancel-button">
							<i class="bi bi-x-circle cancel-icon"></i>
						</span>
					</div>
					<div id="btn-send-event-update" class="button-panel panel-lesson event-btn">
						<span id="btn-edit-event" class="event-button send-button">
							<i class="bi bi-send-fill send-icon"></i>
						</span>
					</div>
				</div>
		{% endif %}
		</div>
	</div>
</div>
<!-- Events -->
<div id="events_container" class="events-container">
	{% comment %} <div class="dialog" id="dialog">
		<h2 class="dialog-header"> Новое событие </h2>
		<form class="form" id="form" action="{% url "add_event"%}" method="post">
			{% csrf_token %}
			<div class="form-container" align="center">
				{{ lesson_form }}

				<input type="date" class="form-control" style="width:auto"/>
				<input type="time" step="300" class="form-control" style="width:auto"/>
				
				<input type="button" value="Cancel" class="button" id="cancel-button">
				<input type="button" value="OK" class="button button-white" id="ok-button">
			</div>
		</form>
	</div> {% endcomment %}
	
	{% if user_is_teacher %}
		{% include 'users/account/activities/includes/teacher_events.html' %}
	{% else %}
		{% include 'users/account/activities/includes/student_events.html' %}
	{% endif %}
</div>