{% load static %}

<div class="col notification-wrap">
	<div class="col-12 notification-title-wrap">
		<h4 class="notification-title">Уведомления</h4>
	</div>
	{% if not exercises %}
        <div class="row notification">
            <p class="notification-text">Новых уведомлений пока что нет</p>
        </div>
	{% else %}
        {% for exercise in exercises %}
            <div class="row notification">
                <p class="notification-text">
                    <i class="bi bi-bell-fill"></i>
                    Новое упражнение:
                    <a href="{{ exercise.get_absolute_url }}" class="exercise">{{ exercise.name }}</a>
                </p>
            </div>
        {% endfor %} 
	{% endif %}
</div>
