{% load filters %}

{% for event in events %}
    <div name='{{ event.datetime.day }}.{{ event.datetime.month }}.{{ event.datetime.year }}' class="event-card">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ event.pk }}" aria-expanded="false" aria-controls="flush-collapse{{ event.pk }}">
                        <div class="event-name"> 

                            {% with tags=event.project_id.types.all|type_names_to_list %}
                                {% if "Персональный" in tags %}
                                    <i class="bi bi-person-fill" style='color: indigo'></i>
                                {% else %}
                                    <i class="bi bi-people-fill" style='color: indigo'></i>
                                {% endif %}

                                {% if "Онлайн" in tags %}
                                    <i class="bi bi-laptop" style='color: indigo'></i>
                                {% else %}
                                    <i class="bi bi-door-open" style='color: indigo'></i>
                                {% endif %}
                            {% endwith %}

                            {% if event.datetime.minute < 10 %}
                                {% with prefix=0 %}
                                    {{ event.datetime.hour }}:{{ prefix }}{{ event.datetime.minute}} (SRT)
                                {% endwith %}
                            {% else %}
                                {% with prefix="" %}
                                    {{ event.datetime.hour }}:{{ prefix }}{{ event.datetime.minute}} (SRT)
                                {% endwith %}
                            {% endif %}

                            {% if event|student_dang_lesson %}
                                <i class="bi bi-exclamation-octagon"></i>
                            {% elif event|student_warn_lesson %}
                                <i class="bi bi-exclamation-triangle"></i>
                            {% endif %}

                            <br>

                            <i class="bi bi-mortarboard-fill" style='color: indigo'></i>
                            {{ event.teacher_id.last_name }} {{ event.teacher_id.first_name }}
                        </div>
                        <div class="event-info">
                            {% if event.status == 'P' %}
                                <i class="bi bi-clock text-warning"></i> 
                            {% elif event.status == 'C' %}
                                <i class="bi bi-x-circle text-danger"></i>
                            {% else %}
                                <i class="bi bi-check-circle text-success"></i> 
                            {% endif %}

                            {% if event.is_paid %}
                                <i class="bi bi-wallet text-success"></i>
                            {% else %}
                                <i class="bi bi-wallet text-danger"></i> 
                            {% endif %}

                            <br>

                            {{ event.title }}
                        </div>
                    </button>
                </h2>
                <div id="flush-collapse{{ event.pk }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% with event.lesson_tasks.all as tasks %}
                            <span class='task-header' style='font-weight: lighter; color: indigo'>Tasks: </span>
                            
                            {% if tasks %}
                                <div id='checklist'>
                                    {% for task in tasks %}
                                        <input disabled {% if task.is_completed %} checked {% endif %} value="1" name="r" type="checkbox" id="{{ task.pk }}">
                                        <label for="{{ task.pk }}">
                                            {{ task.name }}
                                        </label>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <span class="not-tasks"> заданий нет </span>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% for event in new_events %}
    <div name='{{ event.datetime.day }}.{{ event.datetime.month }}.{{ event.datetime.year }}' class="event-card">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ event.pk }}" aria-expanded="false" aria-controls="flush-collapse{{ event.pk }}">
                        <div class="event-name"> 
                            {% if event.datetime.minute < 10 %}
                                {% with prefix=0 %}
                                    {{ event.datetime.hour }}:{{ prefix }}{{ event.datetime.minute}} (SRT)
                                {% endwith %}
                            {% else %}
                                {% with prefix="" %}
                                    {{ event.datetime.hour }}:{{ prefix }}{{ event.datetime.minute}} (SRT)
                                {% endwith %}
                            {% endif %}
                            <br>
                            <i class="bi bi-mortarboard-fill"></i>
                            {{ event.teacher_id.last_name }} {{ event.teacher_id.first_name }}
                        </div>
                        <div class="event-info">
                            {% if event.status == 'P' %}
                                <i class="bi bi-clock text-warning"></i> 
                            {% elif event.status == 'C' %}
                                <i class="bi bi-x-circle text-danger"></i>
                            {% else %}
                                <i class="bi bi-check-circle text-success"></i> 
                            {% endif %}

                            {% if event.is_paid %}
                                <i class="bi bi-wallet text-success"></i>
                            {% else %}
                                <i class="bi bi-wallet text-danger"></i> 
                            {% endif %}
                            <br>
                            {{ event.title }}
                        </div>
                    </button>
                </h2>
                <div id="flush-collapse{{ event.pk }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% with event.lesson_tasks.all as tasks %}
                            {% if tasks %}
                                <span style='font-weight: lighter; color: indigo'>Tasks: </span>
                                <ul>
                                    {% for task in tasks %}
                                        {% if task.base_name %}
                                            <li>{{ task.base_name }}</li>
                                        {% elif task.custom_name %}
                                            <li>{{ task.custom_name }}</li>
                                        {% endif %}
                                            
                                        {% endfor %}
                                </ul>
                                {% else %}
                                    <span style='font-weight: lighter; color: indigo'>Tasks: </span>
                                    -
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}