/* Content */
/* TODO: Move to step_base.css */
.text-white {
	color: white !important;
}

@media (max-width: 1088px) {
	.means__wrap,
	.sentences__wrap {
		margin: 0.2em !important;
	}
}

@media (max-width: 1024px) {
	.words {
		max-width: none !important;
	}
}

@media (max-width: 900px) {
	body {
		font-size: 14px !important;
	}
}

@media (max-width: 840px) {
	.col.means {
		/* border-radius: 0 2em 0 0; */
	}

	.sentences {
		/* border-radius: 0 0 2em 2em !important; */

		.sentences__wrap {
			max-width: 100% !important;
			width: max-content !important;
			margin: auto !important;
		}
	}
}

@media (max-width: 768px) {
	body {
		font-size: 12px !important;
	}

	.bi-rocket-takeoff::before {
		font-size: 1em !important;
	}

	.bi-question-circle::before {
		font-size: 1.2em !important;
	}

	.bi-play-circle::before,
	.word__definition_wrap > .bi-question-circle::before {
		font-size: 1em !important;
	}

	img.word__image {
		max-width: 45vw !important;
	}

	.means__list,
	.sentences__list,
	.means__not_found,
	.sentences__not_found {
		font-size: 1.2em !important;
	}
}

@media (max-width: 599px) {
	.image__col img.word__image {
		border-radius: 2rem 0 0 0 !important;
	}

	.col.means {
		border-radius: 0 2em 0 0;
	}

	.sentences {
		border-radius: 0 0 2em 2em !important;
	}
}

@media (max-width: 426px) {
	body {
		font-size: 10px !important;
	}

	div.word__word {
		font-size: 1rem !important;
	}

	.bi.bi-rocket-takeoff::before {
		line-height: 1.5em !important;
	}

	.bi-play-circle::before,
	.word__definition_wrap .bi-question-circle::before {
		font-size: 0.7em !important;
	}

	.image__col {
		display: contents !important;

		img.word__image {
			max-width: 100% !important;
			border-radius: 2em 2em 0 0 !important;
		}
	}

	.col.means {
		border-radius: 0 !important;
	}

	.col.means,
	.col.translate {
		width: 90vw !important;
	}

	.means__list,
	.sentences__list {
		margin-bottom: 0 !important;
	}

	.means__wrap,
	.sentences__wrap {
		margin: 0 auto !important;
		min-width: 90vw !important;
		width: max-content !important;
	}

	.page-link {
		padding: 0.2em 0.5em !important;
	}

	.page-item:not(#prev_btn, #next_btn) {
		display: none !important;
	}
}

@media (max-width: 321px) {
	body {
		font-size: 8px !important;
	}

	.bi.bi-rocket-takeoff::before {
		font-size: 1.2em !important;
	}

	.bi-question-circle::before {
		font-size: 1.1em !important;
	}

	.col.word,
	.col.translate {
		padding: 0.5em !important;
	}

	.word__wrap {
		display: grid;
		align-self: center;
	}

	.means__list,
	.sentences__list,
	.means__not_found,
	.sentences__not_found {
		font-size: 1.5em !important;
	}
}
