{% load static %}

<div class="col notifications">
    <div class="col notification-wrap">
        <div class="col-12 notification-title-wrap">
            <h4 class="notification-title">Уведомления</h4>
        </div>
        {% if not exercises and not dialogs %}
            <div class="row notification">
                <p class='notification-text'>
                    Новых уведомлений пока что нет
                </p>
            </div>
        {% endif %}

        {% if words %}
            {% for exercise_words in words %}
                <div class="row notification">
                    <p class='notification-text'>
                        <i class="bi bi-bell-fill"></i> Новое упражнение: 
                        <a href={{ exercise_words.get_absolute_url }} class="exercise">
                            <i class="exercise-icon word-icon"></i> {{ exercise_words }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}

        {% if irregular_verbs %}
            {% for exercise_verb in irregular_verbs %}
                <div class="row notification">
                    <p class='notification-text'>
                        <i class="bi bi-bell-fill"></i> Новое упражнение:
                        <a href={{ exercise_verb.get_absolute_url }} class="exercise">
                            {{ exercise_verb }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}

        {% if dialogs %}
            {% for exercise_dialog in dialogs %}
                <div class="row notification">
                    <p class='notification-text'>
                        <i class="bi bi-bell-fill"></i> Новое упражнение: 
                        <a href={{ exercise_dialog.get_absolute_url }} class="exercise">
                            <i class="exercise-icon dialog-icon"></i> {{ exercise_dialog }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>