nav.header.navbar {
    background-color: var(--purple-900);
    /* height: auto; */
    /* min-height: 8vh; */
    height: var(--nav-bar-height);
}

.nav-link.disabled, .nav-link:disabled {
    color: var(--bs-nav-link-disabled-color) !important;
    pointer-events: none;
    cursor: default; 
}

div.container-navbar {
    margin-left: auto !important;
    margin-right: auto !important;
}

button.navbar-toggler {
    border: 0;
}

#list-nav-toggler, #chevron-nav-toggler {
    color: var(--amber-400);
}

button.navbar-toggler:focus {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0 !important;
    box-shadow: none !important;
}

button:active{
    border: none !important;
    outline: none !important;
    decoration: none !important;
    text-decoration:  none !important;
    cursor: pointer !important;
}

button:focus { outline: 0 !important; }

.header {
    li.logo {
        margin: auto;
        width: fit-content;
    }
}

.header.nav-link {
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400 !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header.nav-link.disabled {
    color: var(--grey-400) !important;
}

.header.nav-link.disabled::after {
    color: var(--grey-400) !important;
}

.header.navbar-nav, .header.nav-link.active, .header.nav-link.show, header.nav-link::after {
    color: var(--amber-400) ;
}

.header.nav-link:hover, .header.nav-link:hover::after {
    color: var(--amber-200) ;
}

.header.dropdown-menu {
    background-color: var(--deep-purple-400) ;
    border-color: var(--amber-600);
}

.header.dropdown-item {
    color: white ;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header.dropdown-item:hover {
    color: var(--amber-400);
    background-color: var(--deep-purple-500);
}

.header.dropdown-item::before:hover {
    border-color: var(--color-violet-pastel-dark) ;
}

ul.header.navbar-nav > li {
    align-self: center;
}

.dropdown-toggle {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-toggle::after {
    color: white;
}

.header.logo {
    height: 40px;
    width: 40px;
    
    transition: scale 0.5s;
}

.header.logo:hover {
    border: var(--amber-200) solid 1px;
    border-radius: 50%;
    scale: 1.1;
}



#list-nav-toggler.hidden, #chevron-nav-toggler.hidden {
    display: none;
}


#user_panel {
    margin: auto 0;

    .dropdown-toggle:hover::after, .dropdown-toggle:hover > .username {
        color: var(--amber-200);
    }

    .dropdown-toggle.show::after, .dropdown-toggle.show > .username {
        color: var(--amber-400);
    }

    .username {
        color: white;
        font-size: 1rem;
        padding: 0 1rem;
    }

    img {
        block-size: 3rem;
    }

    .btn-default {
        border-color: var(--amber-400);
    }
}


@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 1;
        left: 0;
    
        min-width: 35vw;
    
        margin-left: .5rem;
        margin-top: 1.5rem !important;
        padding: .4rem;
    
        background-color: var(--deep-purple-400);
        border-color: var(--amber-600);
        border-radius: 1rem;
        border: .1rem var(--amber-600) solid;
        transition: all 250ms ease;
    }
    
    #user_panel {
        margin: 0 !important;
        margin-bottom: auto !important;
    }
}

@media (max-width: 424px) {
    .navbar-collapse {
        min-width: 50vw !important;
    }
}

@media (max-width: 360px) {
    #user_panel {
        padding: 4px 0px !important;
    } 
    #user_panel, #auth, #sign_up {
        /* font-size: 10px !important; */
    }
    #sign_up {
        margin-right: 0px !important;
    }
}
