nav.header.navbar {
    background-color: var(--color-violet-pastel-dark);
    border-bottom: 1px solid var(--color-violet-pastel-darker);
}

div.container-navbar {
    margin-left: auto !important;
    margin-right: auto !important;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
}

button.navbar-toggler {
    border: 0px;
}

button.navbar-toggler:focus {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0 !important;
    box-shadow: none !important;
}

button:active{
    border: none !important;
    outline: none !important;
    decoration: none !important;
    text-decoration:  none !important;
    cursor: pointer !important;
}

button:focus { outline: 0 !important; }

.header.nav-link {
    color: white;
    white-space: nowrap;
    font-weight: 400 !important;
}

.header.nav-link.disabled {
    color: var(--bs-nav-link-disabled-color) !important;
}

.header.navbar-nav, .header.nav-link.active, .header.nav-link.show {
    color: var(--color-violet-pastel-paler) ;
}

.header.nav-link:hover {
    color: var(--color-violet-pastel-max-pale) ;
}

.header.dropdown-menu {
    border-color: var(--color-violet-pastel-dark) ;
    background-color: var(--color-violet-pastel-pale) ;
}

.header.dropdown-item {
    color: white ;
    border: var(--color-violet-pastel-pale) solid 1px ;

}

.header.dropdown-item:hover {
    color: var(--color-violet-pastel-darker);
    background-color: var(--color-violet-pastel-max-pale) ;
}

.header.dropdown-item::before:hover {
    border-color: var(--color-violet-pastel-dark) ;
}

.header.logo {
    height: 40px;
    width: 40px;
    
    transition: scale 0.5s;
}

.header.logo:hover {
    border: var(--color-violet-pastel-pale) solid 1px;
    border-radius: 50%;
    scale: 1.1;
}


@media (max-width: 350px) {
    #user_panel {
        padding: 4px 0px !important;
    } 
    #user_panel, #auth, #sign_up {
        font-size: 12px !important;
    }
    #sign_up {
        margin-right: 0px !important;
    }
}