{% load video_filters %}
<div class="video-module" data-module-id="{{ module.id }}">
    <div class="module-header">
        <h3>{{ module.config.title|default:"Видео" }}</h3>
    </div>
    
    <div class="video-container">
        {% if module.config.url %}
            {% if 'youtube.com' in module.config.url or 'youtu.be' in module.config.url %}
                <iframe src="{{ module.config.url|youtube_url }}" 
                    frameborder="0" 
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            {% elif 'vk.com/video' in module.config.url or 'vkvideo.ru/video' in module.config.url %}
                <iframe src="{{ module.config.url|vkvideo_url }}" 
                    frameborder="0" 
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            {% else %}
                <iframe 
                    src="{{ module.config.url }}" 
                    frameborder="0" 
                    allowfullscreen
                    width="100%" 
                    height="400"
                ></iframe>
            {% endif %}
        {% else %}
            <div class="alert alert-info">Видео не загружено</div>
        {% endif %}
    </div>
</div>