{% for event in events %}
    <div name='{{ event.datetime.day }}.{{ event.datetime.month }}.{{ event.datetime.year }}' class="event-card">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ event.pk }}" aria-expanded="false" aria-controls="flush-collapse{{ event.pk }}">
                        <div class="event-name"> 
                            {% if event.datetime.minute < 10 %}
                                {% with prefix=0 %}
                                    {{ event.datetime.hour }}:{{ prefix }}{{ event.datetime.minute}} (SRT)
                                {% endwith %}
                            {% else %}
                                {% with prefix="" %}
                                    {{ event.datetime.hour }}:{{ prefix }}{{ event.datetime.minute}} (SRT)
                                {% endwith %}
                            {% endif %}
                            <br>
                            <i class="bi bi-mortarboard-fill"></i>
                            {{ event.teacher_id.last_name }} {{ event.teacher_id.first_name }}
                        </div>
                        <div class="event-info">
                            {% if event.status == 'P' %}
                                <i class="bi bi-clock text-warning"></i> 
                            {% elif event.status == 'C' %}
                                <i class="bi bi-x-circle text-danger"></i>
                            {% else %}
                                <i class="bi bi-check-circle text-success"></i> 
                            {% endif %}

                            {% if event.is_paid %}
                                <i class="bi bi-wallet text-success"></i>
                            {% else %}
                                <i class="bi bi-wallet text-danger"></i> 
                            {% endif %}
                            <br>
                            {{ event.title }}
                        </div>
                    </button>
                </h2>
                <div id="flush-collapse{{ event.pk }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> 
                        <span style='font-weight: lighter; color: indigo'>HW: </span>
                        {% if event.description %}
                            {{ event.description }}
                        {% else %}
                            -
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}