{% extends 'pages/extends/base.html' %}
{% load static %}
{% load tz %}

{% comment %} {% load filters %} {% endcomment %}

{% block title %}Профиль{% endblock  %}

{% block 'style' %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/profile_pane.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/exercises_pane.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/checkbox.css' %}">
{% endblock  %}

{% block content %}
<div class="container page">
	<div class='container-nav-profile'>
		<ul class="nav nav-tabs profile" id="Tab" role="tablist">
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile {% if current_pane == 'activities' %} active {% endif %}" id="activities-tab" data-bs-toggle="tab" data-bs-target="#activities-tab-pane" type="button" role="tab" aria-controls="activities-tab-pane" aria-selected="{% if current_pane == 'activities' %} true {% else %} false {% endif %}">Активности</button>
			</li>
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile {% if current_pane == 'profile' %} active {% endif %}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="{% if current_pane == 'profile' %} true {% else %} false {% endif %}">Профиль</button>
			</li>
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile {% if current_pane == 'exercises' %} active {% endif %}" id="exercises-tab" data-bs-toggle="tab" data-bs-target="#exercises-tab-pane" type="button" role="tab" aria-controls="exercises-tab-pane" aria-selected="{% if current_pane == 'exercises' %} true {% else %} false {% endif %}">Упражнения</button>
			</li>
		</ul>
	
		<div class="tab-content" id="TabContent">
			<div class="tab-pane fade {% if current_pane == 'activities' %} show active {% endif %}" id="activities-tab-pane" role="tabpanel" aria-labelledby="activities-tab" tabindex="0">
				{% include "users/account/activities/activities_pane.html" %}
			</div>
			<div class="tab-pane fade {% if current_pane == 'profile' %} show active {% endif %}" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
				{% include "users/account/profile/profile_pane.html" %}
			</div>
			<div class="tab-pane fade {% if current_pane == 'exercises' %} show active {% endif %}" id="exercises-tab-pane" role="tabpanel" aria-labelledby="exercises-tab" tabindex="0">
				{% include "users/account/exercises/exercises_pane.html" %}	
			</div>
		</div>
	</div>
</body>
{% endblock content %}

{% block 'js' %}
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- Custom JS -->
	<script src="{% static 'pages/js/popovers_on.js' %}"></script>
	<script src="{% static 'event_calendar/js/main.js' %}"></script>
	{% if user_is_teacher %}
		<script type="module" src="{% static 'users/js/calendar_send_event_update.js' %}"></script>
		<script type="module" src="{% static 'users/js/add_new_lesson_task.js' %}"></script>
	{% endif %}
	<script>
		// Timezone settings
		const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
		document.cookie = "django_timezone=" + timezone;
	</script>
{% endblock  %}