nav.header.navbar {
    background-color: var(--purple-900);
    /* border-bottom: var(--purple-400) 1px solid; */
    height: 10vh;
}

div.container-navbar {
    margin-left: auto !important;
    margin-right: auto !important;
}

button.navbar-toggler {
    border: 0;
}

#list-nav-toggler, #chevron-nav-toggler {
    color: var(--amber-400);
}

button.navbar-toggler:focus {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0 !important;
    box-shadow: none !important;
}

button:active{
    border: none !important;
    outline: none !important;
    decoration: none !important;
    text-decoration:  none !important;
    cursor: pointer !important;
}

button:focus { outline: 0 !important; }

.header.nav-link {
    color: white;
    white-space: nowrap;
    font-weight: 400 !important;
}

.header.nav-link.disabled {
    color: var(--grey-400) !important;
}

.header.navbar-nav, .header.nav-link.active, .header.nav-link.show {
    color: var(--amber-400) ;
}

.header.nav-link:hover {
    color: var(--amber-200) ;
}

.header.dropdown-menu {
    background-color: var(--deep-purple-400) ;
    border-color: var(--amber-600) ;
}

.header.dropdown-item {
    color: white ;
}

.header.dropdown-item:hover {
    color: var(--amber-400);
    background-color: var(--deep-purple-500);
}

.header.dropdown-item::before:hover {
    border-color: var(--color-violet-pastel-dark) ;
}

.header.logo {
    height: 40px;
    width: 40px;
    
    transition: scale 0.5s;
}

.header.logo:hover {
    border: var(--amber-200) solid 1px;
    border-radius: 50%;
    scale: 1.1;
}


@media (max-width: 360px) {
    #user_panel {
        padding: 4px 0px !important;
    } 
    #user_panel, #auth, #sign_up {
        /* font-size: 10px !important; */
    }
    #sign_up {
        margin-right: 0px !important;
    }
}

#list-nav-toggler.hidden, #chevron-nav-toggler.hidden {
    display: none;
}

#user_panel > .btn-default {
    /* background-color: var(--purple-800); */
    border-color: var(--amber-400);
}

#user_panel {
    margin: auto 0;
}
