:root {
    --color-white-warm: #EDE2D1;
  
    --color-brown: #A25E1B;
    --color-brown-pale: #D08F4E;
    --color-brown-paler: #D1A071;
    --color-creme: #eec8a5;
    --color-brown-dark: #693909;
    --color-brown-darker: #371805;
  
    /* Exersices */
    --color-ex-violet-main: #8106A9;
    --color-ex-violet-dark: #68237F;
    --color-ex-violet-darker: #54026E;
    --color-ex-violet-pale: #AF3BD4;
    --color-ex-violet-paler: #B964D4;
    --color-ex-violet-max-pale: #D9A6EA;
  
    /* Base */
    --color-violet-pastel-main: #A17DD0;
    --color-violet-pastel-dark: #816D9C;
    --color-violet-pastel-darker: #512987;
    --color-violet-pastel-pale: #C0A2E8;
    --color-violet-pastel-paler: #CBB5E8;
    --color-violet-pastel-max-pale: #E3D6F3;
  
    --color-pink-pastel-main: #CC73CC;
    --color-pink-pastel-dark: #996799;
    --color-pink-pastel-darker: #852585;
    --color-pink-pastel-pale: #E59AE5;
    --color-pink-pastel-paler: #E5AEE5;
    --color-pink-pastel-max-pale: #F2D2F2;
  
    --color-blue-pastel-main: #8585D3;
    --color-blue-pastel-dark: #72729E;
    --color-blue-pastel-darker: #2B2B89;
    --color-blue-pastel-pale: #A8A8E9;
    --color-blue-pastel-paler: #BABAE9;
    --color-blue-pastel-max-pale: #D9D9F4;
}

.btn-exit-wrap {
  position: absolute;
  top: 1rem;
  left: 1rem;

  i {
    font-size: xx-large;
    color: var(--amber-400);
  }
}

/* Navbar */
nav.navbar {
  background-color: var(--purple-900);
  --bs-navbar-padding-y: 0 !important;

  .container-navbar {
    max-width: 90vw;
    padding: 0;
    }

    .col {
      padding: 0;

      ul.nav-tabs {
        margin: auto 0;
        border-bottom: none !important;
        --bs-nav-tabs-border-width: none;
        --bs-nav-link-color: white !important;
        --bs-nav-link-hover-color: black !important;

        .nav-item {
          margin: .8rem .2rem 0 .2rem;
          background-color: var(--deep-purple-300) !important;
          border-radius: .3rem .3rem 0 0;
          
          .nav-link {
            border-radius: inherit;
          }
        
          .btn {
            --bs-btn-border-radius: 0 !important;
          }

          .nav-link.disabled, .nav-link:disabled {
            pointer-events: none;
            cursor: default;
          } 
            
          .step-active {
            color: white !important;
            font-weight: bold;
            background-color: var(--deep-purple-600) !important;
            border: none !important;
            --bs-bg-opacity: 1;
          
            > strong {
              color: var(--amber-400);
              text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1)
            }
          }

          .step-complete {
            --bs-bg-opacity: 1;
            background-color: var(--color-violet-pastel-darker)!important;
            color: white !important;
          }
          
          .step-future {
            --bs-bg-opacity: 1;
          }
        }
      }

      ul.nav-tabs li:first-child {
        margin-left: 0 !important;
      }
      ul.nav-tabs li:last-child {
        margin-right: 0 !important;
      }
    }  
  }


/* Content */
body > .words__container {
  max-width: 90vw;
  padding: 0;

  .header-row {
    padding: .5rem 0;

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: fit-content;

      .header-wrap {
        font-size: 1.5rem;
        animation-play-state: running;

        .state {
          padding-left: 29px;
          z-index: 2;
          display: flex;
          position: relative;

          .icon {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: scale(1.25);
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: land 0.6s ease forwards;
            animation-delay: 1.5s;

            i {
              background: -webkit-linear-gradient(var(--amber-400), var(--purple-400));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: .5rem;
            margin-bottom: 0;

            span {
              display: block;
              color: white;
              animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
              animation-delay: 1.5s;
            }
          }
        } 
      }

      .help-btn-wrap {
        .help-btn {
          color: var(--amber-400);
        }

        .help-btn:active {
          border-color: #001a3e;
        }
      }
    }  
  }

  .word__block {
    .col {
      padding: 0;
      margin: 0;

      .words {
        padding: 0;
        margin: 0 auto 1rem auto;
        max-width: fit-content;
        white-space: nowrap;
        overflow: hidden;

        .col {
          display: flex;
          padding: 1rem;
          
          p {
            width: 100%;
            margin: auto;
            text-align: center;
          }

          .word__transcription {
            color: var(--amber-400);
            font-size: 1.2em;
          }
        }

        .col.word, .col.translate {
          min-width: 30vw;
        }
        .col.word {
          flex-wrap: wrap;
          position: relative;
          background-color: var(--purple-900);
          color: var(--indigo-50);
          border-radius: 2rem 0rem 0rem 2rem;

          .sound__wrap {
            width: 10%;
            align-self: center;

            .btn {
              padding: 0;

              i {
                color: var(--amber-400);
                font-size: 2rem;
              }
            }

            .btn:hover {
              cursor: pointer;
              transform: scale(1.1);
              transition: all 250ms ease;

              i {
                color: var(--amber-600);
              }
            }

            .btn:first-child:active {
              color: var(--amber-400) !important;
              background-color: none !important;
              border-color: none !important;
            }
            
          }

          .word__wrap {
            width: 90%;
          }
        }

        .col.translate {
          background-color: var(--deep-purple-200);
          color: var(--indigo-900);
          border-radius: 0rem 2rem 2rem 0rem;
        }

        .col.word:first-child::after {
          content: "";
          background-color: var(--purple-900);
          position: absolute;
          height: 2rem;
          width: 2rem;
          top: calc(50% - 1rem);
          right: -1.5rem;
          border-radius: 2rem;
        }
      }

      .word__card {
        border: .1rem var(--deep-purple-200) solid;
        border-radius: 2.1rem;

        .row {
          margin: 0;

          .image__col {
            display: flex;
            max-width: fit-content;

            img.word__image {
              max-width: 35vw;
              float: left;
              border-radius: 2rem 0 0 2rem;
            }
          }

          .col.means {
            width: auto;
            margin: 0 auto;
            background-color: var(--purple-900);
            
            .means__wrap {
              margin: 2rem;
              padding: 1rem;
              background-color: var(--purple-900);
              border-radius: 2rem;

              .means__title {
                color: var(--amber-400);
                text-align: center;
                font-size: 1.5rem;
              }

              .means__list {
                padding-left: 1rem;
                font-size: 1rem;
                max-height: 32vh;
                overflow-y: auto;
                scrollbar-width: thin;
              
                p {
                  color: white;
                }
              }
              
              .means__not_found {
                color: var(--amber-100);
                text-align: center;
              }
            }
          }

          .col.sentences {
            background-color: var(--deep-purple-400);
            border-radius: 0 2rem 2rem 0;

            .sentences__wrap {
              margin: 2rem;
              padding: 1rem;
              border-radius: 2rem;

              .sentences__title {
                color: var(--amber-400);
                text-align: center;
                font-size: 1.5rem;
              }

              .sentences__list {
                padding-left: 1rem;
                font-size: 1rem;
                max-height: 32vh;
                overflow-y: auto;
                scrollbar-width: thin;

                p {
                  color: white;
                }
              }

              .sentences__not_found {
                color: var(--amber-100);
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

.row.pagination {
  margin-top: .5rem;

  ul.pagination {
    justify-content: center;
    margin: 0;
    --bs-pagination-color: var(--amber-200);
    --bs-pagination-bg: var(--deep-purple-400);
    --bs-pagination-border-color: var(--deep-purple-500);
    --bs-pagination-hover-color: var(--amber-400);
    --bs-pagination-hover-bg: var(--deep-purple-700);
    --bs-pagination-hover-border-color: var(--deep-purple-500);
    --bs-pagination-focus-color: var(--amber-400);
    --bs-pagination-focus-bg: var(--color-violet-pastel-dark);
    --bs-pagination-focus-border-color: var(--color-violet-pastel-max-pale);
    --bs-pagination-active-color: var(--amber-400);
    --bs-pagination-active-bg: var(--deep-purple-900);
    --bs-pagination-active-border-color: var(--amber-400);
    --bs-pagination-disabled-color: var(--amber-50);
    --bs-pagination-disabled-bg: var(--deep-purple-200);
    --bs-pagination-disabled-border-color: var(--deep-purple-500);
  }

  .page-link:focus {
    box-shadow: none;
  }
}

@keyframes land {
  0% {
    transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(5px) rotate(-90deg);
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
    filter: blur(0);
  }
  50% {
    opacity: 1;
    color: var(--amber-500) !important;
    transform: translateY(-3px) translateX(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}

@media (max-width: 1088px) {
  .means__wrap, .sentences__wrap {
    margin: .2rem !important;
  }
}

@media (max-width: 1024px) {
  .words {
    max-width: none !important;
  }

  .col.means {
    /* border-radius: 0 2rem 0 0; */
  }
  
}

@media (max-width: 840px) {
  body {
    font-size: 14px;
  }

  .col.means {
    border-radius: 0 2rem 0 0;
  }

  .sentences {
    border-radius: 0 0 2rem 2rem !important;

    .sentences__wrap {
      width: max-content !important;
      margin: auto !important;
    }
  }
}

.word__mean, .word__sentence {
  font-size: 16px !important;
}
  
div.header {
  display: flex;
  /* border-radius: 10px; */
  /* background-color: var(--color-ex-violet-main); */
  color: black;

  max-width: 50%;
}

div.ex_alert {
  margin-top: 1rem !important;
  margin-bottom: 0% !important;
}

.words_container {
  /* display: flex; */
  justify-content: end;
  width: auto;
}

.translate_container {
  /* display: flex; */
  justify-content: start;
  width: auto;
}

@media (max-width: 510px) {
  .words_container, .translate_container {
      width: max-content;
      padding: 0%;
  }
  
  .translate, .word {
    padding: 3px !important;
  }

  .word__check {
    width: 80% !important;
  }
  
}
  
/* .word-main-mask {
  -webkit-mask-image: url('../images/puzzles.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  background-color: var(--color-ex-violet-max-pale);
  padding: 30px 0px 30px 0px;
} */

/* .word-main-mask {
  background-image: url('../images/puzzles.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

p.word-main {
  font-weight: bold;
}



.word-translate {
  font-size: 27px
}

.word__check {
  margin: 10px;
  border: 2px solid var(--color-violet-pastel-darker);
  width: 30%;
}


.word-variant {
  border: 2px solid var(--color-violet-pastel-pale);
  border-radius: 10px;
  width: 200px;
}

.word-variant:hover {
  background-color: var(--color-violet-pastel-pale);
  color: white !important;
}

.word-variant:active {
  border: 2px solid var(--color-violet-pastel-pale) !important;
  color: black !important;

}


.hidden {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

li {
  list-style-type: none;
}

.words__place {
  margin: auto;
  padding: 15px;
  border: 2px solid var(--color-ex-violet-main);
  border-radius: 10px;
}

.tasks__title {
  margin: 50px 0 20px 0;

  text-align: center;
  text-transform: uppercase;
}

.word {
  /* display: inline-block !important; */
  width: max-content;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  border: 2px solid var(--color-violet-pastel-dark);
  border-radius: 10px;
  background-color: var(--color-violet-pastel-pale);
  color: white;
  transition: background-color 0.5s;
}

.word__word {
  margin-bottom: 0px;
}

.translate {
  /* display: inline-block !important; */
  width: max-content;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid var(--color-violet-pastel-main);
  border-radius: 10px;
  cursor: move;
  background-color: var(--color-violet-pastel-max-pale);
  color: black;
  transition: background-color 0.5s;
}

.ghost {
  background-color: white;
  color: white;
}

.chosen {
  background-color: var(--color-blue-pastel-main);
  color: white;
}

.translate__word {
  margin-bottom: 0px;
}

.btn__check {
  margin-top: 20px;
  border: 2px solid var(--color-violet-pastel-pale);
  background-color: var(--color-violet-pastel-main);
  color: white;
  width: 120px;
}

.btn__check:hover {
  border: 2px solid var(--color-violet-pastel-dark);
  background-color: var(--color-violet-pastel-pale);
  color: white;
}

.selected {
  opacity: 0.6;
  transition: transform 0.3s;
}

.ramka-5 {
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ramka-5::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: var(--color-violet-pastel-pale);
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(var(--color-violet-pastel-dark), var(--color-violet-pastel-dark)), linear-gradient(var(--color-violet-pastel-max-pale), var(--color-violet-pastel-max-pale)), linear-gradient(var(--color-violet-pastel-dark), var(--color-violet-pastel-dark)), linear-gradient(var(--color-violet-pastel-max-pale), var(--color-violet-pastel-max-pale));
  animation: anim-ramka-5 4s linear infinite;
}
.ramka-5::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: var(--color-violet-pastel-main);
  border-radius: 5px;
}
@keyframes anim-ramka-5 {
  100% {
      transform: rotate(1turn);
  }
}


.ramka-6 {
  /* padding: 40px 60px 40px 60px; */
  display: flex;
  align-items: center;
  justify-content: center;  
  background-repeat: no-repeat;
  background-image:   
    linear-gradient(to right, var(--color-violet-pastel-paler) 100%, var(--color-ex-violet-paler) 100%),
    linear-gradient(to bottom, var(--color-violet-pastel-darker) 100%, var(--color-ex-violet-darker) 100%),
    linear-gradient(to right, var(--color-violet-pastel-darker) 100%, var(--color-ex-violet-darker) 100%),
    linear-gradient(to bottom, var(--color-violet-pastel-paler) 100%, var(--color-ex-violet-paler) 100%);
  background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position:    0 0, 100% 0, 100% 100%, 0 100%;
  animation: anim-ramka-6 3.0s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}
.ramka-6 {
  animation-play-state: running;
}
@keyframes anim-ramka-6 {
  0% {
      background-size:    0 6px, 6px 0, 0 6px, 6px 0;
  }
  25% {
      background-size:    100% 6px, 6px 0, 0 6px, 6px 0;
  }
  50% {
      background-size:    100% 6px, 6px 100%, 0 6px, 6px 0;
  }
  75% {
      background-size:    100% 6px, 6px 100%, 100% 6px, 6px 0;
  }
  100% {
      background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
  }
}

.pagination {
  --bs-pagination-color: var(--color-violet-pastel-darker);
  --bs-pagination-bg: var(--color-violet-pastel-paler);
  --bs-pagination-border-color: var(--color-violet-pastel-dark);

  --bs-pagination-hover-color: black;
  --bs-pagination-hover-bg: var(--color-violet-pastel-pale);
  --bs-pagination-hover-border-color: var(--color-violet-pastel-dark);

  --bs-pagination-focus-color: white;
  --bs-pagination-focus-bg: var(--color-violet-pastel-dark);
  --bs-pagination-focus-border-color: var(--color-violet-pastel-max-pale);

  --bs-pagination-active-color: white;
  --bs-pagination-active-bg: var(--color-violet-pastel-main);
  --bs-pagination-active-border-color: var(--color-violet-pastel-dark);

  --bs-pagination-disabled-color: grey;
  --bs-pagination-disabled-bg: var(--color-violet-pastel-max-pale);
  --bs-pagination-disabled-border-color: var(--color-violet-pastel-paler);
  
}



.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 2.5rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5px 5px 0px 0px;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

a.btn:not(.disabled) > strong {
  z-index: 2;
  /* font-family: 'Avalors Personal Use'; */
  /* font-size: 12px; */
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

.glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.next-btn:not(.disabled):hover .container-stars {
  z-index: 1;
  background-color: #212121;
  border-radius: 0px;
}

.next-btn:not(.disabled):hover {
  transform: scale(1.05)
}

.next-btn:not(.disabled):active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.next-btn:not(.disabled):active .circle {
  background: #FE53BB;
}

.stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

.stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

.stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.container-stars.disabled, .glow.disabled {
  visibility: hidden !important;
  width: 0;
}

.form-floating>label {
  margin-left: 10px;
  align-self: center;
  margin-top: 10px;
}

.word_check {
  display: grid;
}

.form-floating {
  display: grid;
  justify-self: center;
  align-self: center;
}

.word__check {
  width: 50vw;
}


