{% load static %}

<nav class="header navbar navbar-expand-md w-100 sticky-top">
  <div class="container container-navbar">
    <div class="row">
      <div class="col-md-8">
        <button id='nav-toggler' class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          {% comment %} <span class="navbar-toggler-icon"></span> {% endcomment %}
          <i id="list-nav-toggler" class="bi bi-list"></i>
          <i id="chevron-nav-toggler" class="bi bi-chevron-down hidden"></i>
        </button>        
        <div class="collapse navbar-collapse my-2" id="navbarSupportedContent">
          <ul class="header navbar-nav m-auto mb-lg-0">
            <li>
              <a href='{% url "" %}' class="header nav-link py-0 pe-3">
                <img class='header logo' src="{% static 'pages/images/logo.png' %}" alt="logo">
              </a>
            </li>
            <li class="header nav-item dropdown">
              <a class="header nav-link dropdown-toggle align-middle px-1 {% if not user.is_admin %} disabled {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-disabled="true">
                Курсы
              </a>
              <ul class="header dropdown-menu">
                {% for course in courses %}
                  <li><a class="header dropdown-item" href="{% url 'english' %}">{{ course.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{% url 'about' %}" class="header nav-link px-1 w-100 {% if not user.is_admin %} disabled {% endif %}" aria-disabled="true">О проекте</a></li>
            <li><a href="{% url 'faq' %}" class="header nav-link px-1 w-100 {% if not user.is_admin %} disabled {% endif %}" aria-disabled="true">FAQ</a></li>
            <li><a href="{% url 'portfolio' %}" class="header nav-link px-1 w-100 {% if not user.is_admin %} disabled {% endif %}" aria-disabled="true">О себе</a></li>
            <li><a href="{% url 'contacts' %}" class="header nav-link px-1 w-100" aria-disabled="true">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="user_panel" class="navbar align-self-start">
      {% if user.is_authenticated %}
        <div class="dropdown pt-2">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class='px-2 text-light'>
              {% if user.first_name %}
                {{ user.last_name }} {{ user.first_name }}
              {% else %}
                {{ user.username}}
              {% endif %}
            </span>
            <img class='avatar rounded-circle' src="{% static "users/images/default_avatar.png" %}" width="32" height="32" alt="User photo">
          </a>
          <ul class="header dropdown-menu dropdown-menu-end text-small shadow" style="">
            <li><a class="header dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
            {% if user_is_teacher or user.is_teacher %}
              <li><hr class="dropdown-divider"></li>
              {% comment %} <li><a class="header dropdown-item" href="{% url 'admin' %}">Администрирование</a></li> {% endcomment %}
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="header dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
          </ul>
        </div>
      {% else %}
        <a id='auth' class="btn btn-default me-2" href="{% url 'auth' %}" role="button">Войти</a>
        <a id='sign_up' class="btn btn-default me-2" href="{% url 'sign_up' %}" role="button">Зарегистрироваться</a>
      {% endif %}
    </div>
  </div>
</nav>