{% extends "exercises/extends/base.html" %}
{% load static %}

{% block 'content' %}
<nav class="navbar navbar-expand-md w-100 sticky-top">
    <div class="container container-navbar justify-content-center">
      <div class="row nav-row w-100">
        <div class="col-12">
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item align-self-center px-auto">
              <a id='step_1' class="nav-link btn {% if step == 1 %}active step-active {% else %} step-future {% endif %} disabled" href={% url "exercises_words" ex_id=ex_id step=1 %} aria-disabled="true">
                {% if step == 1 %}
                  <strong>
                    → Step 1 ←
                  </strong>
                {% else %}
                  <strong>
                    Step 1
                  </strong>
                {% endif %}
              </a>
            </li>
            <li class="nav-item align-self-center px-auto">
              <a id='step_2' class="nav-link btn {% if step == 2 %}active step-active {% else %} step-future {% endif %} disabled" href={% url "exercises_words" ex_id=ex_id step=2 %} aria-disabled="true">
                {% if step == 2 %}
                  <strong>
                    → Step 2 ←
                  </strong>
                {% else %}
                  <strong>
                    Step 2
                  </strong>
                  <div class="container-stars disabled">
                    <div class="stars"></div>
                  </div>
                  <div class="glow disabled">
                    <div class="circle"></div>
                    <div class="circle"></div>
                  </div>
                {% endif %}
              </a>
            </li>
            <li class="nav-item align-self-center px-auto">
                <a id='step_3' class="nav-link btn {% if step == 3 %}active step-active {% else %} step-future {% endif %} disabled" href={% url "exercises_words" ex_id=ex_id step=3 %} aria-disabled="true">
                  {% if step == 3 %}
                    <strong>
                      → Step 3 ←
                    </strong>
                  {% else %}
                    <strong>
                      Step 3
                    </strong>
                    <div class="container-stars disabled">
                      <div class="stars"></div>
                    </div>
                  
                    <div class="glow disabled">
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                  {% endif %}
                </a>
            </li>
            <li class="nav-item align-self-center px-auto">
              <a id='step_4' class="nav-link btn {% if step == 4 %}active step-active {% else %} step-future {% endif %} disabled" href={% url "exercises_words" ex_id=ex_id step=4 %} aria-disabled="true">
                {% if step == 4 %}
                  <strong>
                    → Step 4 ←
                  </strong>
                {% else %}
                  <strong>
                    Step 4
                  </strong>
                  <div class="container-stars disabled">
                    <div class="stars"></div>
                  </div>
                
                  <div class="glow disabled">
                    <div class="circle_4"></div>
                    <div class="circle_4"></div>
                  </div>
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    
  <div class="container">
    
    <!-- Header -->
    <div class="row ramka-6 header-row justify-content-center mb-3 py-3">
        <div class="col justify-content-center header">
            <h2 class='title align-self-center'>{{ title }}</h2>
            {% comment %} Подсказки для шагов упражнения {% endcomment %}
            {% comment %} <button type="button" class="btn btn-lg btn__help" data-bs-toggle="popover" data-bs-html="true" data-bs-title='Упражнение "Запоминаем"' data-bs-content="1. Step one.<br> 2. Step two." ><i class="bi bi-question-circle"></i></button> {% endcomment %}
            {% csrf_token %}
        </div>
    </div>

    <!-- Content -->
    {% block 'words' %}{% endblock  %}

    <!-- Toogle Alerts -->
    <div id="toast-container" class="toast-container bottom-0 end-0 p-3"></div>

    <!-- Pagination -->
    {% if step != 3 %}
      <div class='row row-pagination mt-3'>
        <div class='col'>
          <nav aria-label="words">
            <ul class="pagination justify-content-center">
              <li id='prev_btn' class="page-item disabled">
                <button type='button' class="page-link" href="#">Prev.</button>
              </li>
                {% for num in len %}
                  <li id='page_{{num}}' class="page-item">
                    <button type='button' class="page-link" href="#">{{num}}</button>
                  </li>
                {% endfor %}
              <li id='next_btn' class="page-item">
                <button type='button' class="page-link" href="#">Next</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock 'content' %}