{% load static %}

<div class="row justify-content-center profile-wrap">
    <div class='col-lg-auto personal-wrap'>
        <div class='row title-row'>
            <div class='col align-self-center'>
                <h3 class='text-center'>Личные данные</h3>
            </div>
        </div>
        <div class='row data-row'>
            <div class='col avatar align-self-center'>
                <img class='avatar' src="{% static "users/images/default_avatar.webp" %}" alt="User photo">
            </div>
            <div class='col align-self-center name-wrap'>
                <div class='row'>
                    <div class='col'>
                        <p> Имя: </p>
                    </div>
                    <div class='col'>
                        <p class='user-data'> {{ user.first_name }} </p>
                    </div>
                </div> 
                <div class='row'>
                    <div class='col'>
                        <p> Фамилия: </p>
                    </div>
                    <div class='col'>
                        <p class='user-data'> {{ user.last_name }} </p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col timezone'>
                        <p> Часовой пояс: </p>
                    </div>
                    <div class='col'>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form method='post'>
                            {% csrf_token %}
                            {% for field in timezone_form %}
                                {{ field }}
                            {% endfor %}
                            <button type="submit" class="btn-default mt-2">Сохранить</button>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class='col-lg-auto statistics-wrap'>
        <div class='row title-row'>
            <div class='col align-self-center'>
                <h3 class='text-center'>Статистика</h3>
            </div>
        </div>
        <div class='row data-row'>
            <div class='col align-self-center name-wrap'>
                <div class='row'>
                    <div class='col'>
                        <p> Уроков завершено: </p>
                    </div>
                    <div class='col'>
                        <p class='user-data'> {{ statistics.lessons_done_count }} </p>
                    </div>
                </div> 
                <div class='row'>
                    <div class='col'>
                        <p> Упражнений выполнено: </p>
                    </div>
                    <div class='col'>
                        <p class='user-data'> {{ statistics.exercises_done_count }} </p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <p> Слов выучено: </p>
                    </div>
                    <div class='col'>
                        <p class='user-data'> {{ statistics.words_learned_count }} </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    {% comment %} <div class="col my-3">
        <div class=''>
            <div class='col align-self-center'>
                <h3>Личные данные</h3>
                <hr class='border-black border-2'>
                <div class='row row-cols-auto text-black'>
                    <div class='col col-lg-3 align-self-center'>
                        <p> Имя: </p>
                    </div>
                    <div class='col align-self-center'>
                        <p> {{ user.first_name }} </p>
                    </div>
                </div> 
                <div class='row row-cols-auto text-black align-self-center'>
                    <div class='col col-lg-3'>
                        <p> Фамилия: </p>
                    </div>
                    <div class='col align-self-center'>
                        <p> {{ user.last_name }} </p>
                    </div>
                </div> 
            </div> 
        </div> 
    </div>  {% endcomment %}
    {% comment %} <div class="col my-3">
        <h3>Статистика</h3>
        <hr class='border-black border-2'>
        <div class='row row-cols-auto'>
            <div class='col align-self-center'>
                <p> Активные проекты: </p>
            </div>
            {% for project in projects %}
                <div class='col align-self-center'>
                    <p> {{ project.course_name }} </p>
                </div>
            {% endfor %}
        </div>
        <div class='row row-cols-auto'>
            <div class='col align-self-center'>
                <p> Количество проведенных занятий: </p>
            </div>
            <div class='col align-self-center'>
                <p> {{ events_count_done }} </p>
            </div>
        </div>
        <div class='row row-cols-auto'>
            <div class='col col-lg-3 align-self-center'>
                <p> Занятий всего: </p>
            </div>
            <div class='col align-self-center'>
                <p> {{ events_count_total }} </p>
            </div>
        </div>
    </div> {% endcomment %}
</div>