{% extends 'pages/base.html' %}
{% load static %}
{% load tz %}

{% block title %}Главная{% endblock  %}

{% block 'style' %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'pages/css/calendar.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock  %}

{% block content %}
<div class="container page">
	<div class='container-nav-profile'>
		<ul class="nav nav-tabs profile" id="myTab" role="tablist">
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile active" id="home-tab" data-bs-toggle="tab" data-bs-target="#services-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Сервисы</button>
			</li>
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Профиль</button>
			</li>
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile disabled-nav-item" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>To be continued...</button>
			</li>
		</ul>
	</div>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="services-tab-pane" role="tabpanel" aria-labelledby="services-tab" tabindex="0">
				<!-- Services -->
				<div class="row justify-content-center">
					<!-- Calendar -->
					<div class='body-calendar'>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col text-center">
									<h2 class="heading-section profile__title">Календарь</h2>
								</div>
							</div>
							<div class="row row-cols-2">
								<div class="col-12 col-xl-9 calendar-col">
									<div class="content w-100 calendar-content">
										<div class="calendar-container">
											<div class="calendar"> 
												<div class="year-header"> 
													<span class="left-button fa fa-chevron-left" id="prev"> </span> 
													<span class="year" id="label"></span> 
													<span class="right-button fa fa-chevron-right" id="next"> </span>
												</div> 
												<table class="months-table w-100"> 
													<tbody>
														<tr class="months-row">
															<td class="month">Jan</td> 
															<td class="month">Feb</td> 
															<td class="month">Mar</td> 
															<td class="month">Apr</td> 
															<td class="month">May</td> 
															<td class="month">Jun</td> 
															<td class="month">Jul</td>
															<td class="month">Aug</td> 
															<td class="month">Sep</td> 
															<td class="month">Oct</td>          
															<td class="month">Nov</td>
															<td class="month">Dec</td>
														</tr>
													</tbody>
												</table> 
												<table class="days-table w-100"> 
													<td class="day">Sun</td> 
													<td class="day">Mon</td> 
													<td class="day">Tue</td> 
													<td class="day">Wed</td> 
													<td class="day">Thu</td> 
													<td class="day">Fri</td> 
													<td class="day">Sat</td>
												</table>
												<div class="frame"> 
													<table class="dates-table w-100"> 
														<tbody class="tbody">  
															{{ calendar | safe }}            
														</tbody>
													</table>
												</div>
												{% if user.username == 'admin' %}
													<button class="button" id="add-button">Добавить событие</button>
												{% endif %}
											</div>
										</div>
								<!-- Events -->
								<div class="events-container">
									{% comment %} <div class="dialog" id="dialog">
										<h2 class="dialog-header"> Новое событие </h2>
										<form class="form" id="form" action="{% url "add_event"%}" method="post">
											{% csrf_token %}
											<div class="form-container" align="center">
												{{ lesson_form }}

												<input type="date" class="form-control" style="width:auto"/>
												<input type="time" step="300" class="form-control" style="width:auto"/>
												
												<input type="button" value="Cancel" class="button" id="cancel-button">
												<input type="button" value="OK" class="button button-white" id="ok-button">
											</div>
										</form>
									</div> {% endcomment %}
									<div name='empty-card' class="event-card empty-card hidden">
										<div class='event-name px-3'>Занятий сегодня нет</div>
									</div>
									{% if events %}
										{% if user.is_teacher %}
											{% include 'users/teacher_events.html' %}
										{% else %}
											{% include 'users/student_events.html' %}
										{% endif %}
									{% endif %}
									</div>
								</div> 
							</div>
							<div class="notifications col-3">
								<h4 class="notification-title text-center py-3">Уведомления</h4>
								{% if exercises %}
									{% for ex in exercises %}
									<div class="row notification notification-exercise">
										<p class='text-start my-auto'>
											Новое упражнение - 
											<a href={% url "exercises_words" id=ex.pk step=1 %} class="ex_name"> {{ ex.name }} </a>
										</p>
									</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
			<!-- User Info -->
			<div class="row justify-content-center">
				<div class="col text-center">
					<h2 class="heading-section profile__title">Профиль</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class='col-lg-auto my-3'>
					<img class='avatar' src="{% static "users/images/default_avatar.png" %}" alt="User photo">
				</div>
				<div class="col my-3">
					<div class=''>
						<div class='col align-self-center'>
							<h3>Личные данные</h3>
							<hr class='border-black border-2'>
							<div class='row row-cols-auto text-black'>
								<div class='col col-lg-3 align-self-center'>
									<p> Имя: </p>
								</div>
								<div class='col align-self-center'>
									<p> {{ user.first_name }} </p>
								</div>
							</div> 
							<div class='row row-cols-auto text-black align-self-center'>
								<div class='col col-lg-3'>
									<p> Фамилия: </p>
								</div>
								<div class='col align-self-center'>
									<p> {{ user.last_name }} </p>
								</div>
							</div> 
						</div> 
					</div> 
				</div> 
				<div class="col my-3">
					<h3>Статистика</h3>
					<hr class='border-black border-2'>
					<div class='row row-cols-auto text-black'>
						<div class='col align-self-center'>
							<p> Активные проекты: </p>
						</div>
						{% for project in projects %}
							<div class='col align-self-center'>
								<p> {{ project.course_name }} </p>
							</div>
						{% endfor %}
					</div>
					<div class='row row-cols-auto text-black'>
						<div class='col align-self-center'>
							<p> Количество проведенных занятий: </p>
						</div>
						<div class='col align-self-center'>
							<p> {{ events_count_done }} </p>
						</div>
					</div>
					<div class='row row-cols-auto text-black'>
						<div class='col col-lg-3 align-self-center'>
							<p> Занятий всего: </p>
						</div>
						<div class='col align-self-center'>
							<p> {{ events_count_total }} </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">To be continued...</div>
	  </div>
	</div>
</body>
{% endblock %}

{% block 'js' %}
	<script src="{% static 'pages/js/jquery.min.js' %}"></script>
    <script src="{% static 'pages/js/popper.js' %}"></script>
    <script src="{% static 'pages/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'pages/js/main.js' %}"></script>

	<script>
		// Timezone settings
		const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
		document.cookie = "django_timezone=" + timezone;
	</script>
{% endblock  %}