{% extends 'pages/extends/base.html' %}
{% load static %}
{% load tz %}

{% comment %} {% load filters %} {% endcomment %}

{% block title %}Профиль{% endblock  %}

{% block 'style' %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/checkbox.css' %}">
{% endblock  %}

{% block content %}
<div class="container page">
	<div class='container-nav-profile'>
		<ul class="nav nav-tabs profile" id="myTab" role="tablist">
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile active" id="home-tab" data-bs-toggle="tab" data-bs-target="#services-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Активности</button>
			</li>
			<li class="nav-item profile" role="presentation">
				<button class="nav-link profile disabled-nav-item" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" disabled>Профиль</button>
			</li>
			{% comment %} <li class="nav-item profile" role="presentation">
				<button class="nav-link profile disabled-nav-item" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>To be continued...</button>
			</li> {% endcomment %}
		</ul>
	</div>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="services-tab-pane" role="tabpanel" aria-labelledby="services-tab" tabindex="0">
				<!-- Services -->
				<div class="row justify-content-center mx-0">
					<!-- Calendar -->
					<div class='body-calendar'>
						<div class="container calendar-page-container">
							{% include "event_calendar/includes/calendar.html" %}
							{% include "event_calendar/includes/notifications.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
			<!-- User Info -->
			<div class="row justify-content-center">
				<div class="col text-center">
					<h2 class="heading-section profile__title">Профиль</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class='col-lg-auto my-3'>
					<img class='avatar' src="{% static "users/images/default_avatar.png" %}" alt="User photo">
				</div>
				<div class="col my-3">
					<div class=''>
						<div class='col align-self-center'>
							<h3>Личные данные</h3>
							<hr class='border-black border-2'>
							<div class='row row-cols-auto text-black'>
								<div class='col col-lg-3 align-self-center'>
									<p> Имя: </p>
								</div>
								<div class='col align-self-center'>
									<p> {{ user.first_name }} </p>
								</div>
							</div> 
							<div class='row row-cols-auto text-black align-self-center'>
								<div class='col col-lg-3'>
									<p> Фамилия: </p>
								</div>
								<div class='col align-self-center'>
									<p> {{ user.last_name }} </p>
								</div>
							</div> 
						</div> 
					</div> 
				</div> 
				<div class="col my-3">
					<h3>Статистика</h3>
					<hr class='border-black border-2'>
					<div class='row row-cols-auto text-black'>
						<div class='col align-self-center'>
							<p> Активные проекты: </p>
						</div>
						{% for project in projects %}
							<div class='col align-self-center'>
								<p> {{ project.course_name }} </p>
							</div>
						{% endfor %}
					</div>
					<div class='row row-cols-auto text-black'>
						<div class='col align-self-center'>
							<p> Количество проведенных занятий: </p>
						</div>
						<div class='col align-self-center'>
							<p> {{ events_count_done }} </p>
						</div>
					</div>
					<div class='row row-cols-auto text-black'>
						<div class='col col-lg-3 align-self-center'>
							<p> Занятий всего: </p>
						</div>
						<div class='col align-self-center'>
							<p> {{ events_count_total }} </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">To be continued...</div>
	  </div>
	</div>
</body>
{% endblock content %}

{% block 'js' %}
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- Custom JS -->
	<script src="{% static 'event_calendar/js/main.js' %}"></script>
	<script src="{% static 'users/js/calendar_send_event_update.js' %}"></script>
	<script>
		// Timezone settings
		const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
		document.cookie = "django_timezone=" + timezone;
	</script>
{% endblock  %}